<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/thisismydemo/azure-scout" target="_blank" rel="noopener">GitHub</a>
        <a class="navbar-item" href="https://www.powershellgallery.com/packages/AzureScout" target="_blank" rel="noopener">PSGallery</a>
      </div>
    </div>
  </nav>
</header>
