<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{{siteRootPath}}}">{{{site.title}}}</a>
    <button class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="topbar-nav">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div id="topbar-nav" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://github.com/thisismydemo/azure-scout" target="_blank" rel="noopener">GitHub</a>
      <a class="navbar-item" href="https://www.powershellgallery.com/packages/AzureScout" target="_blank" rel="noopener">PSGallery</a>
    </div>
    <div class="navbar-end">
      {{> search-bar}}
    </div>
  </div>
</nav>
